<nb-card>
  <nb-card-header style="position: relative;">
    <div class="row">
      <div class="col-1">
        Servers
      </div>
      <div class="col-8 ">
      
        <input
        (keyup)="search()" 
          [(ngModel)]="filter.name"
          id="name"
          name="name"
          class="form-control"
        />
        <i class="fa fa-search" style="
        position: absolute;
        right: 24px;
        top: 12px;
    "></i>
    <button style="    position: absolute;
    right: -28px;
    top: 0px;" [routerLink]="['../servers', 'new']" class="btn btn-primary">
      <i class="fa fa-plus"></i>
    </button>
      </div>
    </div>  
    
    <div class="switchiconblock">
      
      <i class="fas fa-list switchicon" [ngClass]="{'Activeicon': viewType=='listview'}" (click)="viewType='listview'"></i>
      <i class="fas fa-th switchicon"   [ngClass]="{'Activeicon': viewType=='cardview'}" (click)="viewType='cardview'"></i>
      
    </div>
  </nb-card-header>

  <nb-card-body>
    
    <div *ngIf="feedback.message" class="alert alert-{{ feedback.type }}">
      {{ feedback.message }}
    </div>
    <div class="table-responsive" *ngIf="serverList.length > 0">
      
      <table *ngIf="viewType=='listview'" class="table table-centered table-hover mb-0" id="datatable">
        <thead>
          <tr>
            <!-- <th class="border-top-0" scope="col">Id</th> -->
            <th class="border-top-0" scope="col">Name</th>
            <th class="border-top-0" scope="col">SerialNo</th>
            <th class="border-top-0" scope="col">InstanceType</th>
            <th class="border-top-0" scope="col">State</th>
            <th class="border-top-0" scope="col">Region</th>
            <th class="border-top-0" scope="col">HostingType</th>
            <th class="border-top-0" scope="col">IPAddress</th>
            <th class="border-top-0" scope="col">OS</th>
            <th class="border-top-0" scope="col" style="width: 120px"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of serverList">
            <!-- <td>{{ item.id }}</td> -->
            <td>{{ item.name }}</td>
            <td>{{ item.serialNo }}</td>
            <td>{{ item.instanceType }}</td>
            <td>{{ item.state }}</td>
            <td>{{ item.region }}</td>
            <td>{{ item.hostingType }}</td>
            <td>{{ item.ipAddress }}</td>
            <td>{{ item.os }}</td>
            <td style="white-space: nowrap">
              
              <button [routerLink]="['../servers', item.id]" class="btn btn-primary">
                <i class="fa fa-pen" ></i>
              </button>
              
                &nbsp;
              <button (click)="deplucated(item)" class="btn btn-info">
                <i class="fa fa-clone" ></i>
              </button>&nbsp;
              <button [disabled]="!checkAccess()" (click)="delete(item)" class="btn btn-danger">
                <i class="fa fa-trash" ></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="viewType!=='listview'">
        <div class="row">
          <div *ngFor="let item of serverList" class="col-xxxl-6 col-xxl-5 col-lg-3 col-md-3">
            <nb-card>
              <nb-card-header> {{item.name}} 
                
              </nb-card-header>
             
              <nb-card-body>             
             <div> <span class="lablesinner">SerialNo : </span> {{ item.serialNo }}        </div>
             <div> <span class="lablesinner">InstanceType :</span> {{ item.instanceType }} </div>
             <div> <span class="lablesinner">State :       </span> {{ item.state }}        </div>     
             <div> <span class="lablesinner">Region :      </span> {{ item.region }}       </div>    
             <div> <span class="lablesinner">HostingType : </span> {{ item.hostingType }} </div>
             <div> <span class="lablesinner">IPAddress :   </span> {{ item.ipAddress }}    </div> 
             <div> <span class="lablesinner">OS :          </span> {{ item.os }}           </div>        
              
             <button [routerLink]="['../servers', item.id]" class="btn btn-primary">
              <i class="fa fa-pen" ></i>
            </button>&nbsp;
              <button (click)="deplucated(item)" class="btn btn-info">
                <i class="fa fa-clone" ></i>
              </button>&nbsp;
              <button [disabled]="!checkAccess()" (click)="delete(item)" class="btn btn-danger">
                <i class="fa fa-trash" ></i>
              </button>
             
                </nb-card-body>
                </nb-card>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
