<nb-card>
  <nb-card-header style="position: relative;">
    
    <div class="row">
      <div class="col-1">
        Devices
      </div>
      <div class="col-8 ">
      
        <input
        (keyup)="search()" 
          [(ngModel)]="filter.name"
          id="name"
          name="name"
          class="form-control"
        />
        <i class="fa fa-search" style="
        position: absolute;
        right: 24px;
        top: 12px;
    "></i>
    <button style="    position: absolute;
    right: -28px;
    top: 0px;" [routerLink]="['../devices', 'new']" class="btn btn-primary">
      <i class="fa fa-plus"></i>
    </button>&nbsp;
    <button  style="    position: absolute;
    right: -78px;
    top: 0px;" type="submit" class="btn btn-primary"  (click)="getQr()">
      <i class="fa fa-qrcode"></i>
    </button>
      </div>
    </div>  
    
    <div class="switchiconblock">
      
      <i class="fas fa-list switchicon" [ngClass]="{'Activeicon': viewType=='listview'}" (click)="viewType='listview'"></i>
      <i class="fas fa-th switchicon"   [ngClass]="{'Activeicon': viewType=='cardview'}" (click)="viewType='cardview'"></i>
      
    </div>
  </nb-card-header>

  <nb-card-body>
    
    <div class="card" *ngIf="deviceList.length > 0">
      <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
      <div class="table-responsive">
        <table *ngIf="viewType=='listview'" class="table table-centered table-hover mb-0" id="datatable">
          <thead>
            <tr>
              <th class="border-top-0" scope="col">Name</th>
              <th class="border-top-0" scope="col">Maker</th>
              <th class="border-top-0" scope="col">Model</th>
              <th class="border-top-0" scope="col">IPAddress</th>
              <th class="border-top-0" scope="col">SerialNo</th>         
              <th class="border-top-0" scope="col">OS</th>
              <th class="border-top-0" scope="col">State</th>
              <th class="border-top-0" scope="col">Status</th>
              
              <th class="border-top-0" scope="col" style="width:120px"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of deviceList" [class.active]="item === selectedDevice">
            
              <td>{{item.name}}</td>
              <td>{{item.maker}}</td>
              <td>{{item.model}}</td>
              <td>{{item.ipAddress}}</td>
              <td>{{item.serialNo}}</td>
              <td>{{item.os}}</td>
              <td>{{item.state}}</td>
              <td>{{item.status}}</td>
              
              <td style="white-space: nowrap">
                <button [routerLink]="['../devices', item.id]" class="btn btn-primary">
                  <i class="fa fa-pen" ></i>
                </button>
                &nbsp;
                <button [disabled]="!checkAccess()" (click)="delete(item)" class="btn btn-danger"> <i class="fa fa-trash" ></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="viewType!=='listview'">
          <div class="row">
            <div *ngFor="let item of deviceList" class="col-xxxl-6 col-xxl-5 col-lg-3 col-md-3">
              <nb-card>
                <nb-card-header> {{item.name}} 
                  
                </nb-card-header>
               
                <nb-card-body>             
               <div> <span class="lablesinner">maker : </span> {{ item.maker }}        </div>
               <div> <span class="lablesinner">model :</span> {{ item.model }} </div>
               <div> <span class="lablesinner">ipAddress :       </span> {{ item.ipAddress }}        </div>     
               <div> <span class="lablesinner">serialNo :      </span> {{ item.serialNo }}       </div>    
               <div> <span class="lablesinner">hostingType : </span> {{ item.os }} </div>
               <div> <span class="lablesinner">state :   </span> {{ item.state }}    </div> 
               <div> <span class="lablesinner">status :          </span> {{ item.status }}           </div>        
                
               <button [routerLink]="['../devices', item.id]" class="btn btn-primary">
                <i class="fa fa-pen" ></i>
              </button>
              &nbsp;
                             <button [disabled]="!checkAccess()" (click)="delete(item)" class="btn btn-danger">
                              <i class="fa fa-trash" ></i>
                             </button>
               
                  </nb-card-body>
                  </nb-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    </nb-card-body>

    </nb-card>

