<nb-card>
  <nb-card-header>Device Detail</nb-card-header>
  <nb-card-body>
    <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf="device" #editForm="ngForm" (ngSubmit)="save()">
      <input type="hidden" id="id" name="id" [(ngModel)]="device.id">
    
      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="device.name" required id="name" name="name" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="maker">Maker</label>
        <input [(ngModel)]="device.maker" required id="maker" name="maker" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="model">Model</label>
        <input [(ngModel)]="device.model" required id="model" name="model" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="ipAddress">IP Address</label>
        <input [(ngModel)]="device.ipAddress" id="ipAddress" name="ipAddress" class="form-control">
      </div>
    
     
    
      <div class="form-group">
        <label for="serialNo">Serial No</label>
        <input [(ngModel)]="device.serialNo" required id="serialNo" name="serialNo" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="OS">OS</label>
        
        <select [(ngModel)]="device.os" required id="os" name="os" class="form-control">
          <option value>Select Option</option>
          <option *ngFor="let item of getEnumData('DeviceOS')" value="{{item}}">{{item}}</option>
        </select>
        <!-- <input [(ngModel)]="device.OS" id="os" name="OS" class="form-control"> -->
      </div>
    
      <div class="form-group">
        <label for="state">State</label>
        
        <select [(ngModel)]="device.state" required id="state" name="state" class="form-control">
          <option value>Select Option</option>
          <option *ngFor="let item of getEnumData('DeviceState')" value="{{item}}">{{item}}</option>
        </select>
        <!-- <input [(ngModel)]="device.state" id="state" name="state" class="form-control"> -->
      </div>
    
      <div class="form-group" *ngIf="device.state=='LIVE'">
        <label for="status">Status</label>
        
        <select [(ngModel)]="device.status" required id="status" name="status" class="form-control">
          <option value>Select Option</option>
          <option *ngFor="let item of getEnumData('DeviceStatus')" value="{{item}}">{{item}}</option>
        </select>
        <!-- <input [(ngModel)]="device.status" id="status" name="status" class="form-control"> -->
      </div>
    
      <div *ngIf="device.state=='MAINTAINANCE'">
        <div class="form-group">
          <label for="createdBy">Maintainance Type</label>
          <select [(ngModel)]="device.maintainanceType" id="maintainanceType" name="maintainanceType" class="form-control">
            <option value>Select Option</option>
            <option *ngFor="let item of getEnumData('MaintainanceType')" value="{{item}}">{{item}}</option>
          </select>
          
        </div>
        
  
        <nb-card>
          <nb-card-header>maintainanceStartDateTime</nb-card-header>
          <nb-card-body>
            <input nbInput
                  id="maintainanceStartDateTime" name="maintainanceStartDateTime" class="form-control"
                   placeholder="Form Picker"
                   [(ngModel)]="device.maintainanceStartDateTime"
                   [nbDatepicker]="maintainanceStartDateTime">
            <nb-datepicker #maintainanceStartDateTime></nb-datepicker>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>maintainanceEndDateTime</nb-card-header>
          <nb-card-body>
            <input nbInput
                  id="maintainanceEndDateTime" name="maintainanceEndDateTime" class="form-control"
                   placeholder="Form Picker"
                   [(ngModel)]="device.maintainanceEndDateTime"
                   [nbDatepicker]="maintainanceEndDateTime">
            <nb-datepicker #maintainanceEndDateTime></nb-datepicker>
          </nb-card-body>
        </nb-card>
      </div>
    
      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
    </nb-card-body>
    </nb-card>

<!-- <div class="card">
  <div class="header">
    <h2 class="title">Device Detail</h2>
  </div>
  <div class="content">
    
  </div>
</div> -->
