@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};

.lablesinner {
  color: black;
  font-size: 12px;
  font-weight: bold;
}
.chip{
  padding: 10px;
    margin: 10px;
    border: 1px solid #CCC;
    border-radius: 26px;
    display: block;
    float: left;
    background: #CCC;
    color: black;
    font-weight: bold;
}
.switchicon{
color: #CCC;
padding: 10px;
font-size: x-large;
cursor: pointer;
}
.Activeicon{
  color: #007bff !important;
}
.switchiconblock{
  position: absolute;
  right: 8px;
  top: 15px;
}